:root {
  --bgColor: #f8e9a1;

  /* neutral  */
  --white: #ffffff;
  --black: linear-gradient(
    -45deg,
    #0e0606 25%,
    #0c0c0c 65%,
    #0c0c0c 65%,
    #0c0c0c 65%,
    #0c0c0c 65%,
    #0c0c0c 65%
  );
  --overlay: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.9));

  /* primary  */
  --red: #f76c6c;
  --blue: #a8d0e6;
  --accent: rgb(63, 72, 78);

  /* shadow  */
  --shadow-dark: rgba(0, 0, 0, 0.2);

  /* hover  */
  --red-dark: #d65252;
}

/* rest of the code */

/* //////////////////////
 Navbar
  /////////////////////// */

nav {
  background-color: var(--white);
  box-shadow: 0 5px 15px var(--shadow-dark);
  margin: 0.5rem;
  border-radius: 0.3rem;
  position: fixed;
  top: 0.5rem;
  height: 55px;
  width: 95%;
  z-index: 99;
  transition: all 0.5s ease;
}

.nav-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  border-radius: 1rem 1rem 0 0;
}
.nav-header a span {
  color: black;
  font-size: 1rem;
  font-weight: 800;
  text-transform: uppercase;
  font-family: monospace;
}

.nav-header .fa {
  font-size: 1.5rem;
  cursor: pointer;
  transition: all 0.5s;
  color: var(--red);
}
.nav-header .fa:hover {
  color: var(--red-dark);
}

.nav-header .fa-times {
  display: none;
}
.menu {
  height: 1px;
  margin: -0.5rem;
  overflow: hidden;
  transition: all 0.3s linear;
}
.menu a {
  color: var(--black);
  letter-spacing: 0.2rem;
  display: block;
  padding: 0.5rem 1rem;
  transition: all 0.3s linear;
}

.menu a:hover {
  background-color: var(--red);
  color: var(--white);
  padding: 1rem;
}

/* //////////////////////
 Hero
  /////////////////////// */

.hero {
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--overlay), url("../images/hero.jpg");
  background-repeat: no-repeat;
  background-size: 200%;
  z-index: 6;
}
.hero h1 {
  color: var(--white);
  text-transform: uppercase;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  text-shadow: 1px 1px 1px var(--red-dark);
  font-size: 5rem;
}

/* //////////////////////
 Home Sections
  /////////////////////// */

.home-section {
  height: 100%;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.home-section .posts {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  place-content: center;
  gap: 2rem;
}
.home-section .posts article {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  grid-template-rows: repeat(5, 100px);
  padding: 1rem;
  height: 400px;
  background-color: var(--white);
  border-radius: 0.3rem;
  box-shadow: 0 0.1rem 0.2rem var(--shadow-dark);
  width: 100%;
}
.home-section article img {
  width: 100%;
  height: 120px;
  object-fit: cover;
  border-radius: 0.3rem;
}

.home-section article h3 a {
  color: var(--black);
  text-transform: uppercase;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.home-section article p {
  color: var(--accent);
}
.home-section article p span {
  color: var(--red);
}
.home-section article .btn--primary {
  border-radius: 0.3rem;
  padding: 0.5rem 1.2rem;
  color: var(--red-dark);
  background: var(--black);
  transition: all 0.5s ease;
}
section.home-section article .btn--primary:hover {
  color: var(--white);
  background-color: var(--black);
}

/* //////////////////////
 Blogs Page
  /////////////////////// */

.blogs-container {
  display: flex;
  flex-direction: column;
  gap: 4rem;
}
.blog-container .hero {
  background: var(--overlay), url("../images/blogs.jpg");
}

.blogs-container .slider {
  margin: 0.5rem;
  padding: 1rem;
  display: grid;
  grid-auto-flow: column;
  overflow-x: auto;
  gap: 1rem;
  overscroll-behavior: smooth;
  border-radius: 0.5rem;
}
.blogs-container .slider::-webkit-scrollbar {
  display: none;
}
.blogs-container .slider article {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  grid-template-rows: repeat(5, 100px);
  padding: 1rem;
  height: 350px;
  width: 350px;
  background-color: var(--white);
  border-radius: 0.3rem;
  box-shadow: 0 0.1rem 0.2rem #0005;
}

.blogs-container .slider article img {
  width: 100%;
  height: 120px;
  object-fit: cover;
  border-radius: 0.3rem;
}

.blogs-container .slider article h3 a {
  text-transform: uppercase;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: #262626;
}
.blogs-container .slider article p {
  color: var(--accent);
}
.blogs-container .slider article p span {
  color: var(--red);
}
.blogs-container .slider article .btn--primary {
  border-radius: 0.3rem;
  padding: 0.5rem 1.2rem;
  color: var(--accent);
  background: var(--black);
  transition: all 0.5s ease;
}
.blogs-container .slider article .btn--primary:hover {
  color: var(--white);
  background-color: var(--black);
}

/* //////////////////////
 Single Blog Page
  /////////////////////// */
.blog-container img {
  object-fit: cover;
  width: 100%;
  height: 50vh;
}

.blog-container .article-title {
  margin-top: 1rem;
  text-align: center;
  font-family: monospace;
  text-transform: capitalize;
}

.blog-container .content {
  padding: 1rem;
  margin: 1rem;
  background-color: var(--white);
  border-radius: 1rem;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

/* //////////////////////
 About
  /////////////////////// */

.about-container {
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
}

.about-container .slider {
  padding: 1rem;
  display: grid;
  place-items: center;
  grid-auto-flow: column;
  overflow-x: auto;
  overscroll-behavior: smooth;
  gap: 1rem;
}
.about-container .slider::-webkit-scrollbar {
  display: none;
}
.about-container .slider article {
  padding: 1rem;
  border: 2px solid var(--red);
  width: 300px;
  height: 300px;
}

/* //////////////////////
 Footer
  /////////////////////// */

footer {
  background: var(--black);
  height: 200px;
  border-radius: 0.3rem;
  margin: 1rem;
}

/* utilities  */

.heading {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  margin: auto;
  background: var(--black);
  height: 100px;
  border-radius: 1rem;
  width: 90%;
  box-shadow: 0 0.1rem 0.9rem var(--shadow-dark);
}

.heading h1 {
  font-size: 1.5rem;
  transform: skewY(-1deg);
  font-family: monospace;
  color: var(--red);
}

.show-menu {
  height: 400px;
  padding: 1rem;
  border-radius: 0 0 1rem 1rem;
  transition: all 0.5s ease;
}

/* media queries  */

@media (min-width: 800px) {
  .nav-main {
    max-width: 1170px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
  }

  .nav-header {
    padding: 0;
  }

  .nav-header .fa-bars,
  .nav-header .fa-times {
    display: none;
  }
  .menu {
    height: auto;
    display: flex;
  }
  .menu a {
    padding: 0.5rem;
    margin: 0 0.5rem;
    box-sizing: border-box;
  }

  .menu a:hover {
    padding: 0;
    background: transparent;
    color: #f76c6c;
  }
}

@media (max-width: 678px) {
  .heading {
    margin-top: 2rem;
    margin-bottom: 2rem;
    width: 100%;
    text-align: center;
  }
  .heading h1 {
    font-size: 1rem;
  }
}

/* animations  */
