:root {
  --light: ;
  --dark: ;
}

/* //////////////////////
 Navbar
  /////////////////////// */

nav {
  background-color: #f8e9a1;
  background-color: #f76c6c;
  background-color: #ffffff;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  margin: 0.5rem;
  border-radius: 0.3rem;
  position: fixed;
  top: 0.5rem;
  height: 55px;
  width: 95%;
  transition: all 0.5s ease;
  z-index: 99;
}
.nav-header a span {
  color: black;
  font-size: 1rem;
  font-weight: 800;
  text-transform: uppercase;
  font-family: monospace;
}

.nav-header .fa {
  font-size: 1.5rem;
  color: #f76c6c;
  cursor: pointer;
  transition: all 0.5s;
}
.nav-header .fa:hover {
  color: rgb(13, 99, 161);
  color: #d65252;
}

.nav-header .fa-times {
  display: none;
}
.menu {
  height: 1px;
  margin: -0.5rem;
  overflow: hidden;
  transition: all 0.3s linear;
}
.menu a {
  color: gray;
  letter-spacing: 0.2rem;
  display: block;
  padding: 0.5rem 1rem;
  transition: all 0.3s linear;
}

.menu a:hover {
  background-color: #f76c6c;
  color: whitesmoke;
  padding: 1rem;
}

.show-menu {
  height: 400px;
  padding: 1rem;
  border-radius: 0 0 1rem 1rem;
  transition: all 0.5s ease;
}

.nav-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  border-radius: 1rem 1rem 0 0;
}

@media (min-width: 800px) {
  .nav-main {
    max-width: 1170px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
  }

  .nav-header {
    padding: 0;
  }

  .nav-header .fa-bars,
  .nav-header .fa-times {
    display: none;
  }
  .menu {
    height: auto;
    display: flex;
  }
  .menu a {
    padding: 0.5rem;
    margin: 0 0.5rem;
    box-sizing: border-box;
  }

  .menu a:hover {
    padding: 0;
    background: transparent;
    color: #f76c6c;
  }
}

/* //////////////////////
 Hero
  /////////////////////// */

section.home-hero {
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.9)),
    url("../images/home-hero.jpg");
  background-repeat: no-repeat;
  background-size: 220%;
  z-index: 6;
}
section.home-hero h1 {
  color: whitesmoke;
  text-transform: uppercase;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  text-shadow: 2px 3px 3px #f76c6c;
  font-size: 5rem;
}

/* //////////////////////
 Home Featured
  /////////////////////// */

section.home-featured {
  height: 100%;
  /* background-color: #f76c6c; */
  /* background-color: #a8d0e6; */
  /* background-color: #262626; */
  /* backdrop-filter: blur(7px); */
  /* box-shadow: 0 0.4rem 0.8rem #0005; */
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(auto, 1fr);
  gap: 1rem;
  padding: 1rem;
  border-radius: 0 0;
  z-index: 5;
}

section.home-featured article {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  grid-template-rows: repeat(5, 100px);
  padding: 1rem;
  height: 350px;
  /* background-color: #f8e9a1; */
  background-color: #ffffff;
  border-radius: 0.3rem;
  box-shadow: 0 0.1rem 0.2rem #0005;
}
section.home-featured article img {
  width: 100%;
  height: 120px;
  object-fit: cover;
  border-radius: 0.3rem;
}
section.home-featured article h3 {
  text-transform: uppercase;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
section.home-featured article h3 a {
  color: #262626;
}
section.home-featured article p {
  color: grey;
}
section.home-featured article p span {
  color: #f76c6c;
}
section.home-featured article .btn--primary {
  /* border: 2px solid rgb(70, 136, 70); */
  border-radius: 0.3rem;
  padding: 0.5rem 1.2rem;
  color: grey;
  background-color: #262626;
  transition: all 0.5s ease;
}
section.home-featured article .btn--primary:hover {
  color: rgb(255, 255, 255);
  background-color: #262626;
}

@media (max-width: 678px) {
  section.home-featured {
    grid-template-columns: 1fr;
  }
}

/* footer  */

footer {
  background-color: #262626;
  background-color: #f8e9a1;
  background-color: #f76c6c;
  background-color: #ffffff;
  height: 200px;
  border-radius: 0.3rem;
  margin: 1rem;
}

/* utilties  */

.heading {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  margin: auto;

  background: linear-gradient(
    -45deg,
    #ffffff 25%,
    #f8f8f8 25%,
    #f8f8f8 50%,
    #ffffff 50%,
    #ffffff 75%,
    #f8f8f8 75%,
    #f8f8f8
  );
  background-size: 120px 600px;
  height: 100px;
  border-radius: 1rem;
  transform: skewY(-10deg);
  width: 250px;
}

.heading h1 {
  font-size: 1.5rem;
  transform: skewY(-1deg);
  font-family: monospace;
}

@media (max-width: 678px) {
  .heading {
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
}
