--- 
title: Blog Articles
layout: "base.njk"
---

<section class="blogs-container">
    <div class="blogs-hero">
        <h1>All Blogs</h1>
    </div>
    <div class="heading">
        <h1>Post Collection</h1>
    </div>
    <div class="slider">
        {%-  for post in collections.post  -%}
            {% include "article-snippet.njk" %}
        {%- endfor %}
    </div>
    <div class="heading">
        <h1>BLOG SERIES</h1>
    </div>
    <div class="slider">
        {%-  for post in collections.series  | reverse-%}
            {% include "article-snippet.njk" %}
        {%- endfor %}
    </div>
</section>