--- 
title: Hagaw Blog
layout: "base.njk"
---

<section class="hero">
  <h1>The Blog</h1>
</section>
<section class="home-section">
  <div class="heading">
    <h1>Featured</h1>
  </div>
  <div class="posts">
    {%-  for post in collections.featured  | reverse-%}
      {% include "article-snippet.njk" %}
    {%- endfor %}
  </div>
</section>
<br>
  <section class="home-section">
    <div class="heading">
      <h1>BLOG SERIES</h1>
    </div>
    <div class="posts">
      {%-  for post in collections.series  | reverse-%}
        {% include "article-snippet.njk" %}
      {%- endfor %}
    </div>
  </section>